@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	min-height: 100%;
	background-color: #0E0E0E;
}

body {
	margin: 0;
}

@media (pointer: fine) {
	.custom-cursor-enabled,
	.custom-cursor-enabled * {
		cursor: none !important;
	}
}
